/*COLORES*/
:root {
    --foreColor: black;
    --azul-hover: #4582c4;
    --white: #ffffff;
    --decorations: #EFDF00;
    --darkGrey: #F2F2F2;
    --lightGrey: #F8F8F8;
    --red: red;
}

.admin form {
    display: flex;
}

/*.admin nav {
    background-color: var(--lightGrey);
}

.admin nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display:flex;
    }

.admin nav ul li {
        margin: 30px;
            margin-bottom: 10px;
            
        }

.admin nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
        display: block;
        padding: 10px;
        background-color: #444;
        border-radius: 5px;
        transition: background-color 0.3s;
    }*/

.admin nav ul li a:hover {
            background-color: #666;
        }

.admin main {
    padding: 3rem;
}

