.admin form {
    display: flex;
}

.admin nav {
    width: 200px;
    background-color: #333;
    padding: 20px;
}

.admin nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

.admin nav ul li {
            margin-bottom: 10px;
        }

.admin nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
        display: block;
        padding: 10px;
        background-color: #444;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

.admin nav ul li a:hover {
            background-color: #666;
        }

.admin {
    flex: 1;
    padding: 20px;
}
