/*COLORES*/
:root {
    --foreColor: black;
    --azul-hover: #4582c4;
    --white: #ffffff;
    --decorations: blue;
}

.texto-azul {
    color: var(--foreColor) !important;
}

.bg-blue {
    background-color: var(--foreColor) !important;
}

/*GENERAL*/

@import url('https://fonts.cdnfonts.com/css/nouvel-r');

*, .container-fluid {
    margin: 0;
    padding: 0;
    font-family: 'NouvelR', sans-serif;
}

.allcard {
    margin: 0 2em;
}

.descCard {

}

p {
    font-size: 0.9rem;
}

.vl {
    border-left: 1px solid grey;
    height: 7em;
}

.hl {
    border-bottom: 1px solid grey;
    width: 4em;
}

/*BOTONES*/

.btn-primary {
    background-color: var(--foreColor) !important;
    border: 1px solid var(--foreColor) !important;
    border-style: none;
}

.btn-primary:hover {
    background-color: var(--decorations) !important;
    border: 1px solid var(--decorations) !important;

}

.linkCards {
    font-size: 0.9rem;
    text-decoration:none;
    border-bottom: 2px solid var(--decorations);
    color:black;
    }

.linkDetail {
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
}

.fa-chevron-right {
    color: var(--decorations);
}
/*NAVBAR*/
nav a {
    color: white !important;
}

.navbar-brand img {
    max-height: 4rem;
    height: 4rem;
}

/* SECCION HOME */

main.home .sidebar {
    background-color: #f8f9fa !important;
    padding: 20px !important;
}

main.home .product-list {
    padding: 20px !important;
}

main.home .card {
    margin: 20px !important;
    background-color: #f8f9fa !important;
}

main.home .card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2) !important;
}

main.home .card-body {
    margin-bottom: 10px !important;
    background-color: white !important;
    border-top: 1px solid #ebebeb !important;
    padding: 15px !important;
}

main.home img.card-top {
    width: 100% !important;
    height: 300px !important;
    object-fit: cover !important;
}

main.home p.precio {
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    margin-bottom: 15px !important;
    display: flex !important;
    align-items: flex-end !important;
    width: 100% !important;
}

main.home .boton{
    width: 100% !important;
    margin-bottom: 10px !important;
}

/*FOOTER*/

footer h6 {
    font-weight:600;
}

footer .fa {
    color: var(--foreColor) !important;
    font-size: 1.5rem;
}

footer .fa:hover {
    color: var(--azul-hover) !important;
}


/*SECCION DETALLES*/

.detail-img-container-mini {
    max-height: 15vh;
    height: 15vh;
}

.detail-img-container {
    overflow: hidden;
    height: 50vh;
}

.detail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-info-container * {
    max-width:25vw;
    margin: 1rem 0;
}

/*CARRITO*/
.carrito {
    position:center;
}

/*CARRITO*/

@media screen and (min-width:768px) and (max-width: 992px) {
    main.home p.precio {
        font-size: 0.8rem !important;
    }
}

/*DETALLE*/

 div.name-container {
    margin: 2rem;
    font-weight: 700;
}

 div.name-price-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

 .price-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
    width: 30%;
    border-left: 2px solid darkgrey;
 }

.price{
    font-weight: 700;
    font-size: 2rem;
}

.equipamiento{
    display: flex;
    justify-content: space-around;
}

.foto{
    width: 300px;
}




