/*COLORES*/
:root {
    --foreColor: black;
    --azul-hover: #4582c4;
    --white: #ffffff;
    --decorations: #EFDF00;
    --darkGrey: #F2F2F2;
    --lightGrey: #F8F8F8;
    --red: red;
}

.texto-azul {
    color: var(--foreColor) !important;
}

.bg-foreColor {
    background-color: var(--foreColor) !important;
}

.bg-darkGrey {
    background-color: var(--darkGrey) !important;
}

.bg-lightGrey {
    background-color: var(--lightGrey) !important;
}

/*GENERAL*/

@import url('https://fonts.cdnfonts.com/css/nouvel-r');

*, .container-fluid {
    margin: 0;
    padding: 0;
    font-family: 'NouvelR', sans-serif;
}

.allcard {
    margin: 0 2em;
}

    .allcard .card-img-top {
        width: 22em;
    }

.descCard {
}

p {
    font-size: 0.9rem;
}

.vl {
    border-left: 1px solid grey;
    height: 7em;
}

.hl {
    border-bottom: 1px solid grey;
    width: 4em;
}

.hl2 {
    border-bottom: 1px solid grey;
    width: 18.5em;
}

/*BOTONES*/

.btn {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
}

.btn-primary {
    background-color: var(--foreColor) !important;
    border: 1px solid var(--foreColor) !important;
    border-style: none;
}

.btn-light {
    background-color: var(--white) !important;
    border: 1px solid var(--foreColor) !important;
    color: var(--foreColor) !important;
    border-style: none;
}

.btn-warning {
    background-color: var(--decorations) !important;
    border: 1px solid var(--decorations) !important;
    color: var(--foreColor) !important;
    border-style: none;
}

.btn-primary:hover {
    background-color: var(--decorations) !important;
    border: 1px solid var(--decorations) !important;
    color: var(--foreColor) !important;
}

.btn-light:hover {
    background-color: var(--foreColor) !important;
    border: 1px solid var(--foreColor) !important;
    color: var(--white) !important;
}

.btn-warning:hover {
    background-color: var(--foreColor) !important;
    border: 1px solid var(--foreColor) !important;
    color: white !important;
    border-style: none;
}

.linkCards {
    font-size: 0.9rem;
    text-decoration: none;
    border-bottom: 2px solid var(--decorations);
    color: black;
}

.linkDetail {
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
}

.fa-chevron-right {
    color: var(--decorations);
}

.fa-edit {
    color: #EDC011 !important;
}

.carousel-inner .carousel-button {
    position: absolute;
    z-index: 100 !important;
    top: 15em;
    left: 6.5em;
}

.financiacion {
    position: absolute;
    z-index: 100 !important;
    top: 12em;
    left: 8em;
}

/*FORMULARIOS*/
.form-floating .form-control, .form-floating .form-select {
    border: 0 none;
    border-bottom: 1px solid #E5E5EB !important;
    border-radius: 0px;
}

    .form-floating .form-control:hover, .form-floating .form-control:active, .form-floating .form-control:focus {
        border: 0 none;
        border-bottom: 1px solid #E5E5EB !important;
        border-radius: 0px;
        background-color: var(--white) !important;
    }

/*NAVBAR*/

nav a {
    color: white !important;
}

.navbar-brand img {
    max-height: 4rem;
    height: 4rem;
}

/* SECCION HOME */

main.home .sidebar {
    background-color: #f8f9fa !important;
    padding: 20px !important;
}

main.home .product-list {
    padding: 20px !important;
}

main.home .card {
    margin: 20px !important;
    background-color: #f8f9fa !important;
}

    main.home .card:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2) !important;
    }

main.home .card-body {
    margin-bottom: 10px !important;
    background-color: white !important;
    border-top: 1px solid #ebebeb !important;
    padding: 15px !important;
}

main.home img.card-top {
    width: 100% !important;
    height: 300px !important;
    object-fit: cover !important;
}

main.home p.precio {
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    margin-bottom: 15px !important;
    display: flex !important;
    align-items: flex-end !important;
    width: 100% !important;
}

main.home .boton {
    width: 100% !important;
    margin-bottom: 10px !important;
}

/*FOOTER*/

footer ul li, footer h6 {
    font-size: 0.9rem;
    line-height: 0.9rem;
}

footer h6 {
    font-weight: 600;
}

footer .fa {
    color: var(--foreColor) !important;
    font-size: 1.5rem;
}

    footer .fa:hover {
        color: var(--azul-hover) !important;
    }

/*SECCION DETALLES*/

.detail-img-container-mini {
    max-height: 15vh;
    height: 15vh;
}

.detail-img-container {
    overflow: hidden;
    height: 50vh;
}

    .detail-img-container h1 {
        font-size: 3rem;
    }


.detail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*COMPARAR MODELOS*/
/*.filtroSinSeleccionar {
    filter: contrast(0) brightness(.15) opacity(.4);
}*/

.filtroSinSeleccionar {
    filter: opacity(0.5);
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.accordion-item {
    --bs-accordion-border-color: none;
}

/*STEPPER*/
.stepper {
    min-height: 50em !important;
}

ul.stepper.horizontal .step.active .step-title:before, ul.stepper.horizontal .step.done .step-title:before {
    background-color: var(--decorations) !important;
}

.step-actions {
    background-color: transparent !important;
}


.list-dot {
    list-style-type: disc;
    margin: 0 0 0 2em;
    font-size: 0.8rem;
}

/*CONFIGURACION*/
.dot {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 0.2px solid lightgrey;
    display: block;
}

.detail-img-container-mini {
    max-height: 15vh;
    height: 15vh;
}

.resumem-img-container {
    overflow: hidden;
    height: 35vh;
}

.resumen-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dottedLine {
    flex: 1 0 auto;
    border-bottom: 1px dotted #000;
    margin: 0 4px;
}

.resumenP:first-child, .resumenP:nth-child(3) {
    font-size: 1.3rem;
}

/*SIGNIN*/

.subt {
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 34px; /* Reduce el tamaño de la fuente */
}

.resumenP {
    display: flex;
    align-items: baseline;
}

/*SUCURSALES*/

.concesionaria-img-container {
    overflow: hidden;
    height: 15em;
}

.img-concesesionaria {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-concesesionaria {
    border-top-right-radius: 0px !important;
    border-end-end-radius: 0px !important;
}

/* FINANCIACION */

.cuotasDetalle .resumenP {
    font-size: 0.8rem;
}

.imagenFinanciacionDetalle {
    width: 22em;
}

/*MEDIA QUERIES*/
@media (max-width: 767.98px) {

    .detail-img-container h1 {
        font-size: 2rem;
    }

    .financiacion {
        position: absolute;
        z-index: 100 !important;
        top: 12em;
        left: 5em;
    }

    footer {
        text-align: center;
    }
}

@media (max-width: 575.98px) {

    .detail-img-container h1 {
        font-size: 2rem;
    }

    .financiacion {
        position: absolute;
        z-index: 100 !important;
        top: 12em;
        left: 5em;
    }

    footer {
        text-align: center;
    }
}
